nav {
  background-color: #FCD116;
    display: flex;
    
  justify-content: space-between;
}

nav ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  
}

nav ul li a {
  display: block;
  color: #721c24;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #721c24;
  color: #FCD116;
}
/* CSS */
.mySlides {
display: none;
}

.slideshow {
text-align:center;
}